name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  # unix-test:
  #   strategy:
  #     matrix:
  #       os:
  #         - ubuntu-latest
  #         - macos-latest
  #   runs-on: ${{matrix.os}}

  #   steps:
  #   - uses: actions/checkout@v3
  #   - uses: shogo82148/actions-setup-mysql@v1
  #     with:
  #       mysql-version: "5.7"
  #       root-password: "password"
  #       my-cnf: |
  #         skip-ssl
  #         port=3306
  #   - name: install diesel_cli
  #     run: cargo install diesel_cli --no-default-features --features mysql
  #   - name: init database
  #     run: diesel setup --database-url mysql://root:password@127.0.0.1:3306/vault
  #   - name: Build
  #     run: cargo build --verbose
  #   - name: Run tests
  #     run: cargo test --verbose


  windows-test:
    strategy:
      matrix:
        os:
          - windows-latest
    runs-on: ${{matrix.os}}

    steps:
    - uses: actions/checkout@v3
  #   - run: echo "VCPKG_ROOT=$env:VCPKG_INSTALLATION_ROOT" | Out-File -FilePath $env:GITHUB_ENV -Append
  #   - run: vcpkg install openssl:x64-windows-static-md
    # - uses: shogo82148/actions-setup-mysql@v1
    #   with:
    #     mysql-version: "5.7"
    #     root-password: "password"
    #     my-cnf: |
    #       skip-ssl
    #       port=3306
    # - name: Set MySQLCLIENT_LIB_DIR
    #   run: echo "LIBMYSQL_PATH=$env:MYSQL_HOME\lib\" | Out-File -FilePath $env:GITHUB_ENV -Append
    # - name: Setup Rust
    #   uses: actions-rs/toolchain@v1
    #   with:
    #     toolchain: stable
    # - name: install diesel_cli
    #   run: cargo install diesel_cli --no-default-features --features mysql
    - name: Download MySQL Connector/C
      run: |
        Invoke-WebRequest -Uri "https://dev.mysql.com/get/Downloads/Connector-C/mysql-connector-c-6.1.11-win32.zip" -OutFile "mysql-connector.zip"
        Expand-Archive -Path "mysql-connector.zip" -DestinationPath "C:\mysql-connector"
    - name: Set LIBMYSQL_PATH
      run: echo "LIBMYSQL_PATH=C:\mysql-connector\mysql-connector-c-6.1.11-win32\lib" | Out-File -FilePath $env:GITHUB_ENV -Append
    - name: Setup Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
    - name: install diesel_cli
      run: cargo install diesel_cli --no-default-features --features mysql
  #   - name: init database
  #     run: diesel setup --database-url mysql://root:password@127.0.0.1:3306/vault
  #   - name: Build
  #     run: cargo build --verbose
  #   - name: Run tests
  #     run: cargo test --verbose
